footer {
  background: #100d12;
  clip-path: polygon(50% 2rem, 100% 0, 100% 100%, 0 100%, 0 0);
}

.footer {
  position: relative;
  padding: 4rem 0 2rem 0;

  p {
    margin: 0;
    font-size: .9rem;
    text-transform: uppercase;
    color: darken(#6b54b6, 10%);
    font-family: var(--headings-font-family);
  }

  &__main {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--body-bg);
  }

  &__twitter {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: flex-end;
  }

  &__love {
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem !important;
  }
}
