.jumbotron {
  margin: 0;
  display: flex;
  height: 23rem;
  border-radius: 0;
  position: relative;
  align-items: center;
  justify-content: center;
  background: url('/img/jumbo.png') no-repeat center bottom / cover;

  &__title {
    color: $body-bg;
    font-size: 4rem;
    position: relative;
    text-transform: uppercase;
    text-shadow: 0 0 0.12em rgba(0, 0, 0, .3);
  }

  &__container {
    @extend .container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
