.language {
  .modal {
    &-content {
      border: none;
      border-radius: 0;
      background: transparent;
    }

    &-dialog {
      max-width: 40rem;
    }

    &-header {
      border: none;
      justify-content: center;
    }

    &-title {
      font-size: 2.5rem;
      text-align: center;
    }

    &-footer {
      display: none;
    }
  }

  &__list {
    .list-group-item {
      border: none;
      padding: .5rem 0;
      font-weight: bold;
      text-align: center;
      background: transparent;
      text-transform: uppercase;

      &-action {
        font-size: 1.5rem;
        color: $body-color;
        transition: color 500ms ease;
        font-family: var(--headings-font-family);

        &:hover, &.active {
          color: #6b54b6;
          background: transparent;
        }

        &.active {
          border-bottom: .125rem solid #6b54b6;
        }
      }
    }
  }
}
