.matches {
  &__more {
    display: flex;
    padding: 3rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}

.match {
  $n: &;

  &:not(:last-of-type) {
    #{$n}__trigger {
      border-bottom: none;
    }
  }

  &__row {
    @extend .row;
  }

  &__stat {
    @extend .col, .col-md-2;

    display: none;

    &_kda {
      display: block;
    }

    @include media-breakpoint-up('md') {
      &_score, &_damage {
        display: block;
      }
    }
  }

  &__result {
    @extend .col, .col-md-3;

    z-index: 1;
    text-align: center;
  }

  &__meta-item {
    font-size: .75rem;
    text-transform: uppercase;
  }

  &__score {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--brand-font-family);
  }

  &__result-label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--surface-color);
    font-family: var(--headings-font-family);
  }

  &__table {
    td {
      padding: 0 .5rem;
      vertical-align: middle;
    }
  }

  &__agent {
    width: 5rem;
    height: 5rem;
    content: ' ';
    margin-right: 1rem;
    background-size: cover;
    background-position: center center;

    @include media-breakpoint-up('md') {
      margin-right: 2rem;
    }
  }

  &__map {
    width: auto;
    height: 5rem;
  }

  &__meta {
    top: 0;
    right: 0;
    position: absolute;

    &-content {
      position: absolute;
    }

    &:before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: ' ';
      position: absolute;
      background: linear-gradient(90deg, var(--surface-bg) 0%, transparent 100%);
    }
  }

  &__details {
    @extend .table-responsive;

    padding: 0 2rem;
    border-radius: 0;
    margin-bottom: 1rem;
    background: transparent;

    @media (max-width: 30rem) {
      padding: 0;
    }
  }

  &__details-btn {
    top: .5rem;
    width: 2rem;
    right: .5rem;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: calc(100% - .5rem);
  }

  &__details-img {
    width: 2rem;
    height: 2rem;
    transform: rotate(90deg);
    transition: transform 500ms ease;
  }

  &__trigger {
    @include clip(1rem);

    width: 100%;
    z-index: 1;
    height: 5rem;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 0 2rem 0 0;
    margin-bottom: 1rem;
    align-items: center;
    flex-direction: row;
    background: var(--surface-bg);
    justify-content: space-between;
    transition: height .3s ease-in-out, border-color .3s ease-in-out;

    &:not(.collapsed) {
      #{$n}__details-img {
        transform: rotate(-90deg);
      }
    }

    &-wrapper {
      filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
    }

    &:hover {
      cursor: pointer;
      border-color: #0f1923;
    }

    .row {
      flex-grow: 1;
      align-items: center;
    }
  }
}
