.match-table {
  @extend .table;

  margin: 0;

  td, th {
    vertical-align: middle;
  }

  &__first {
    border-left: 1px solid $body-bg;
  }

  &__soon {
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid $body-bg;
  }

  &__even {
    td {
      background: $body-bg;
    }
  }

  &__groups {
    th {
      color: #999;
      padding: .25rem;
      font-weight: 500;
      font-size: .75rem;
      text-align: center;
      background: $body-bg;
      border: none !important;
    }
  }

  &__stats {
    border: none;
    position: relative;
    white-space: nowrap;

    th {
      padding: .5rem;
      text-align: center;
    }
  }

  &__stat-name {
    font-weight: 700;
    font-size: .875rem;
    color: rgb(51, 52, 51);
    border-bottom: 1px dotted rgb(85, 86, 85);

    &:hover {
      color: #333;
      text-decoration: none;
    }
  }

  &__stat-value {
    color: #777;
    font-weight: bold;
    font-size: .875rem;
    text-align: center;
  }
}
