.matches {

}

.stat {
  &__label {
    font-size: .75rem;
  }
}

.match {
  &__result {
    text-align: center;
  }

  &__score {
    font-size: 2rem;
    font-weight: bold;
  }

  &__result-label {
    font-size: .9rem;
    text-transform: uppercase;
  }

  &__table {
    td {
      padding: 0 .5rem;
      vertical-align: middle;
    }
  }

  &__agent {
    width: 5rem;
    height: 5rem;

    &_small {
      width: 3rem;
      height: 3rem;
    }

    &-cell {
      padding: 0 !important;
    }
  }

  &__trigger {
    @include clip();

    width: 100%;
    z-index: 1;
    padding: 0;
    height: 5rem;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
    align-items: center;
    flex-direction: row;
    padding-right: 8rem;
    justify-content: space-between;
    border: 1px solid rgba(15, 25, 35, .5);
    box-shadow: 0 3px 7px rgba(14, 8, 18, .44);
    transition: height .3s ease-in-out,border-color .3s ease-in-out;

    &:not(:last-of-type) {
      //border-bottom: none;
    }

    &:hover {
      cursor: pointer;

      &:after {
        transform: translateX(0) skew(-10deg);
      }
    }

    &:after {
      top: 0;
      left: -5%;
      opacity: 1;
      z-index: -1;
      width: 120%;
      content: "";
      height: 100%;
      display: block;
      position: absolute;
      background: darken($body-bg, 3%);
      transition: transform .3s ease-out;
      transform: translateX(-100%) skew(-10deg);
    }

    &_victory {
      &:after {
        background: #ff4655;
      }

      &:hover {
        color: $body-bg;
        border-color: #ff4655;
      }
    }
  }

  &__squad-size {
    right: 1rem;
    bottom: .5rem;
    font-size: .75rem;
    position: absolute;
    text-transform: uppercase;
  }

  &__map {
    right: 1rem;
    top: .5rem;
    font-size: .75rem;
    position: absolute;
    text-transform: uppercase;
  }
}
