.matches {
  &__more {
    display: flex;
    padding: 3rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}

.match {
  $n: &;

  &:not(:last-of-type) {
    #{$n}__trigger {
      border-bottom: none;
    }
  }

  &__result {
    width: 20%;
    text-align: center;
  }

  &__score {
    font-size: 2rem;
    font-weight: bold;
  }

  &__result-label {
    font-size: .9rem;
    text-transform: uppercase;
  }

  &__table {
    td {
      padding: 0 .5rem;
      vertical-align: middle;
    }
  }

  &__agent {
    width: 5rem;
    height: 5rem;
    content: ' ';
    margin-right: 2rem;
    background-size: cover;
    background-position: center center;
  }

  &__details {
    background: #fff;
    border-radius: 0;
    margin-bottom: 1rem;
    border: 1px solid rgba(15, 25, 35, .5);
  }

  &__details-btn {
    right: 0;
    width: 2rem;
    display: flex;
    top: -0.0625rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: calc(100% + .125rem);
    background: darken($body-bg, 10%);
  }

  &__details-img {
    width: 2rem;
    height: 2rem;
    transform: rotate(90deg);
    transition: transform 500ms ease;
  }

  &__trigger {
    width: 100%;
    z-index: 1;
    height: 5rem;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 0 2rem 0 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgba(15, 25, 35, .5);
    border-right: none;

    transition: height .3s ease-in-out, border-color .3s ease-in-out;

    &:not(.collapsed) {
      #{$n}__details-img {
        transform: rotate(-90deg);
      }
    }

    &:hover {
      cursor: pointer;
      border-color: #0f1923;

      &:after {
        transform: translateX(0) skew(-10deg);
      }
    }

    &:after {
      top: 0;
      left: -5%;
      opacity: 1;
      z-index: -1;
      width: 120%;
      content: "";
      height: 100%;
      display: block;
      position: absolute;
      background: darken($body-bg, 5%);
      transition: transform .3s ease-out;
      transform: translateX(-100%) skew(-10deg);
    }

    .row {
      flex-grow: 1;
      align-items: center;
    }

    &_defeat {
      &:hover {
        color: $body-bg;
        border-color: #0f1923;
      }

      &:after {
        background: #0f1923;
      }

      #{$n}__details-btn {
        background: #0f1923;
      }
    }

    &_victory {
      &:hover {
        color: $body-bg;
        border-color: $primary;
      }

      &:after {
        background: $primary;
      }

      #{$n}__details-btn {
        background: $primary;
      }
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__meta-item {
    font-size: .75rem;
    text-transform: uppercase;
  }
}
