.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 3rem;
}

.navbar {
  padding: 0;
  background: #1c1024;
  border-bottom: 2px solid rgba(51, 51, 51, 0.25);

  &-toggler {
    border: none;
    margin-right: 1rem;
    outline: none !important;
  }

  &-nav .nav-link {
    height: 5rem;
    display: flex;
    font-weight: 500;
    font-size: .875rem;
    align-items: center;
    color: #fff !important;
    text-transform: uppercase;
    padding: 0 3rem !important;

    @include media-breakpoint-up('sm') {
      padding: 0 1rem !important;
    }

    &_language {
      font-weight: bold;
      margin-right: 1rem;
      text-transform: none;

      .icon {
        font-size: 2rem;
        margin-right: .5rem;
      }
    }
  }

  &-brand {
    color: #fff;
    height: 5rem;
    display: flex;
    padding: 0 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
    font-family: $headings-font-family;
  }
}
