.profile {
  $n: &;

  &__head-container {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    flex-direction: row;
  }

  &__meta {
    display: flex;
    font-size: .8rem;
    margin-left: 2rem;
    flex-direction: column;
    color: transparentize($body-color, .3);
  }

  &__action {
    line-height: 1rem;
    font-size: 1.75rem;
    margin-right: .5rem;
    color: lighten($body-color, 10%);

    .icon {
      margin: 0;

      &:before {
        margin: 0;
        text-align: left;
      }
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    .stat {
      padding: 0 .5rem;
    }
  }

  &__nickname {
    margin: 0;
    font-size: 4rem;
    line-height: 3rem;
    position: relative;
    text-transform: none;
  }

  &__card {
    border: none;
    color: $body-bg;
    border-radius: 0;
    min-height: 14rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: $body-color;

    &_agent {
      position: relative;
    }
  }

  &__agent {
    left: 0;
    width: 100%;
    bottom: 100%;
    height: auto;
    display: none;
    position: absolute;

    @include media-breakpoint-up('md') {
      display: block;
    }
  }

  &__card-title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
