.search {
  @include clip();

  padding: 2rem;
  max-width: 20rem;
  background: #0f1923;

  &__title {
    color: $body-bg;
    text-align: center;
  }

  &__input {
    border: none;
    color: $body-bg;
    font-size: 1rem;
    padding: .5rem 0;
    border-radius: 0;
    font-weight: bold;
    margin-bottom: 1rem;
    background: $body-color;

    &:focus {
      outline: none;
      color: $body-bg;
      box-shadow: none;
      background: $body-color;
    }

    &::placeholder {
      font-weight: 500;
    }
  }

  &__button {
    width: 100%;
    color: $body-bg;
    font-weight: 500;
    border-radius: 0;
    padding: 1rem 2rem;
    font-size: .875rem;
    text-transform: uppercase;
    border: 1px solid $body-bg;
  }
}
