.vs {
  &__no-options, &__selected, &__dropdown-option {
    margin: 0;
    font-weight: bold;
    padding: 1rem 2rem;
    transition: 500ms all ease;
    background: var(--body-bg);
    color: var(--surface-color);
  }

  &__dropdown-toggle {
    border: none;
    padding: 0;
    border-radius: 0;
    background: #140c1a;
  }

  &__dropdown-menu {
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    top: calc(100% + 1rem);
  }

  &__dropdown-option {
    &--highlight {
      color: var(--body-color);
      background: var(--surface-bg);
    }
  }

  &__actions {
    padding: 0 2rem 0 0;
  }

  &__search {
    margin: 0;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 0 2rem;
    height: 3.75rem;
    border-radius: 0;
    font-weight: bold;
    background: #140c1a;
    clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%, 0 32%);

    &:focus {
      margin: 0;
      border: none;
      outline: none;
      padding: 0 2rem;
      box-shadow: none;

      &::placeholder {
        opacity: 0;
        color: #6b54b6;
      }
    }

    &::placeholder {
      opacity: 1;
      font-weight: 500;
      font-size: .875rem;
      text-align: center;
      text-transform: uppercase;
      transition: opacity 200ms ease;
    }
  }
}

.search {
  width: 100%;
  max-width: 40rem;

  &__title {
    color: $body-bg;
    text-align: center;
  }

  &__button {
    width: 100%;
    color: $body-bg;
    font-weight: 500;
    border-radius: 0;
    padding: 1rem 2rem;
    font-size: .875rem;
    text-transform: uppercase;
    border: 1px solid $body-bg;
  }
}
