.vs {
  &__dropdown-toggle {
    border: none;
    padding: 0;
    background: #fff;
    border-radius: 0;
  }

  &__search {
    margin: 0;
    border: none;
    font-size: 1rem;
    height: 3.75rem;
    border-radius: 0;
    background: #fff;
    font-weight: bold;
    padding: 0 3.5rem;
    color: $body-color;

    &:focus {
      outline: none;
      box-shadow: none;

      &::placeholder {
        opacity: 0;
      }
    }

    &::placeholder {
      opacity: 1;
      font-weight: 500;
      font-size: .875rem;
      text-align: center;
      text-transform: uppercase;
      transition: opacity 200ms ease;
    }
  }
}

.search {
  width: 100%;
  max-width: 40rem;

  &__title {
    color: $body-bg;
    text-align: center;
  }

  &__button {
    width: 100%;
    color: $body-bg;
    font-weight: 500;
    border-radius: 0;
    padding: 1rem 2rem;
    font-size: .875rem;
    text-transform: uppercase;
    border: 1px solid $body-bg;
  }
}
