@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/rajdhani/Rajdhani-Regular.eot');
  src: local('Rajdhani Regular'), local('Rajdhani-Regular'),
  url('/fonts/rajdhani/Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/rajdhani/Rajdhani-Regular.woff2') format('woff2'),
  url('/fonts/rajdhani/Rajdhani-Regular.woff') format('woff'),
  url('/fonts/rajdhani/Rajdhani-Regular.svg#Rajdhani-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/rajdhani/Rajdhani-Light.eot');
  src: local('Rajdhani Light'), local('Rajdhani-Light'),
  url('/fonts/rajdhani/Rajdhani-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/rajdhani/Rajdhani-Light.woff2') format('woff2'),
  url('/fonts/rajdhani/Rajdhani-Light.woff') format('woff'),
  url('/fonts/rajdhani/Rajdhani-Light.svg#Rajdhani-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/rajdhani/Rajdhani-Medium.eot');
  src: local('Rajdhani Medium'), local('Rajdhani-Medium'),
  url('/fonts/rajdhani/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/rajdhani/Rajdhani-Medium.woff2') format('woff2'),
  url('/fonts/rajdhani/Rajdhani-Medium.woff') format('woff'),
  url('/fonts/rajdhani/Rajdhani-Medium.svg#Rajdhani-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/rajdhani/Rajdhani-SemiBold.eot');
  src: local('Rajdhani SemiBold'), local('Rajdhani-SemiBold'),
  url('/fonts/rajdhani/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/rajdhani/Rajdhani-SemiBold.woff2') format('woff2'),
  url('/fonts/rajdhani/Rajdhani-SemiBold.woff') format('woff'),
  url('/fonts/rajdhani/Rajdhani-SemiBold.svg#Rajdhani-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/rajdhani/Rajdhani-Bold.eot');
  src: local('Rajdhani Bold'), local('Rajdhani-Bold'),
  url('/fonts/rajdhani/Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/rajdhani/Rajdhani-Bold.woff2') format('woff2'),
  url('/fonts/rajdhani/Rajdhani-Bold.woff') format('woff'),
  url('/fonts/rajdhani/Rajdhani-Bold.svg#Rajdhani-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

