h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex-grow: 1;
    padding: 2rem 0;
  }
}

.icon {
  margin-right: .5rem;
}

.toasted {
  font-size: .75rem;
  text-transform: uppercase;
  border-radius: 0 !important;
  font-weight: 700 !important;
  padding: 1rem 2rem !important;

  &.error {
    background: $primary !important;
  }

  &.info {
    color: $body-color !important;
    background: $body-bg !important;
  }
}
