:root {
  --body-color: #fff;
  --body-bg: #150f1a;
  --surface-bg: #20132a;
  --surface-color: #6b54b6;
  --brand-font-family: 'Rajdhani', sans-serif;
  --headings-font-family: 'Rajdhani', sans-serif;
}

::selection {
  background: #6b54b6;
  color: #1b0f23;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #7228e2 #0f0b12;
}

body {
  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #7228e2;
    outline: #7228e2 solid 1px
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex-grow: 1;
    padding: 2rem 0;
  }
}

.container {
  width: 80rem !important;
  max-width: calc(100% - 2rem) !important;
}

.icon {
  margin-right: .5rem;
}

.toasted {
  font-size: .75rem;
  text-transform: uppercase;
  border-radius: 0 !important;
  font-weight: 700 !important;
  padding: 1rem 2rem !important;

  &.error {
    background: var(--primary) !important;
  }

  &.info {
    color: var(--body-color) !important;
    background: var(--info) !important;
  }
}
