// @import "~bootstrap/scss/variables";

$body-bg: #ece8e1;
$body-color: #0f1923;
$headings-font-weight: 700;
$headings-font-family: 'Source Sans Pro', sans-serif;

$enable-rounded: false;
$enable-shadows: false;
