// @import "~bootstrap/scss/variables";

$body-bg: #ece8e1;
$body-color: #0f1923;
$headings-font-weight: 900;
$headings-font-family: 'Ruda', sans-serif;
$font-family-sans-serif: 'Montserrat', sans-serif;

$enable-rounded: false;
$enable-shadows: false;
