 //@import "~bootstrap/scss/variables";

$body-bg: #ece8e1;
$body-color: #0f1923;
$headings-font-weight: 900;
$headings-font-family: 'Ruda', sans-serif;
$font-family-sans-serif: 'Montserrat', sans-serif;

$enable-rounded: false;
$enable-shadows: false;

$grid-breakpoints: (
  xs: 0,
  sm: 30rem,
  md: 64rem,
  lg: 82rem,
  xl: 100rem,
);

$container-max-widths: (
  sm: 28rem,
  md: 60rem,
  lg: 70rem,
  xl: 80rem
);
